version: 2.1

orbs:
  aws-ecr: circleci/aws-ecr@7.0.0
  aws-ecs: circleci/aws-ecs@02.2.1

workflows:
  build-and-deploy:
    jobs:
      - aws-ecr/build-and-push-image:
          repo: fashion-mnist
          tag: "${CIRCLE_SHA1}"
          filters:
            branches:
              only:
                - main
      - aws-ecs/deploy-service-update:
          requires:
            - aws-ecr/build-and-push-image
          filters:
            branches:
              only:
                - main
          family: fashion-mnist-service
          cluster-name: fashion-mnist
          container-image-name-updates: "container=fashion-mnist-service,tag=${CIRCLE_SHA1}"